body {
  font-family: Calibri, 'Calibri', serif;
  font-weight: 300;
  padding: 10px 10px;
  margin: 10px 10px;
  align-items: left;
}

.jumbotron {
  background-image: url("food/Regent.jpg");
  background-size: cover;
  display: flex;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px Black;
}

.jumbotron h1 {
  font-weight: 600;
  color: Red;
  font-size: 5rem;
  padding: 10px;
}

.jumbotron h2 {
  font-family: Segoe Print, 'Segoe Print', serif;
  color: White;
  padding: 100px;
}

section .row img {
  margin: 0 0 10px;
  width: 216px;
  height: 162px;
  border-radius:5px;
}

figure p {
  padding: 0 20px;
  margin: 0;
}

footer h3 {
  font-family: Segoe Print, 'Segoe Print', serif;
  font-size: 2rem;
  color: Black;
}

footer a {
  padding: 30px 30px;
  font-size: 2rem;
  color: Gray;
}